body {
  margin: 0;
  padding: 0;
  background-color: #2F0221;
  max-width: 960px;
  overflow: hidden;
}

/* works in IE */
#bg {
  z-index: -1;
  position: absolute;
  max-width: 960px;
}

#elGenieText img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

#wishes_img_id {
  margin-top: -72px;
  margin-bottom: -60px;
}

#video_id {
  width: 100%;
  height: 100%;
}

#video_container {
  display: none;
  position: absolute;

  width: 780px;
  height: 440px;

  max-width: 780px;
  max-height: 440px;

  width: 100%;
  height: 100%;


  top: 145px;
  left: 90px;
}

#elStarsImage {
  position: absolute;
  max-width: 960px;
}

#elStarsImageGlow {
  position: absolute;
  max-width: 960px;
}

#genieContainer {
  width: 100%;
}