body {
  margin: 0;
  padding: 0;
  background-color: #222;
}

/* works in IE */
#bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#elGenieText img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  top: 0;
}

#video_id {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#elStarsImage {
  position: fixed;
  display: block;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
}